<div class="modal-content">
  <div class="modal-header">
    <h2 class="fw-bolder">Eliminar a #{{ category.name + " " + category.surname }} </h2>
    <div class="btn btn-icon btn-sm btn-active-icon-primary" (click)="modal.dismiss();">
      <span class="svg-icon svg-icon-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
            fill="currentColor" />
          <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
        </svg>
      </span>
    </div>
  </div>
  <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
    <div class="text-center">
      <div class="pb-14">
        <h2 class="swal2-title" id="swal2-title" style="display: block;">¿Estas seguro de eliminar la categoría?</h2>
        <div class="swal2-html-container" id="swal2-html-container" style="display: block;">Recuerda que esta acción eliminaría por completo a la categoría</div>
      </div>
      <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss();">Cerrar</button>
      <button (click)="deleteCategory()" type="button" class="btn btn-danger" [disabled]="isLoading | async">
        <span *ngIf="!(isLoading | async)" class="indicator-label">Eliminar</span>
        <span *ngIf="isLoading | async">Espera...</span>
        <span *ngIf="isLoading | async" class="spinner-border spinner-border-sm align-middle ms-2"></span>
      </button>
    </div>
  </div>
</div>